In [12]:
df <- read.csv("bacon_example.csv")

In [18]:
df$g <- df$X_nfd
df$t <- df$year

In [19]:
ATT_gt <- aggregate(asmrs ~ g + t, data = df, FUN = mean)

# Ordenar bonito
ATT_gt <- ATT_gt[order(ATT_gt$g, ATT_gt$t), ]

head(ATT_gt)

   g    t    asmrs
1  1969 1964 41.05070
13 1969 1965 41.97805
25 1969 1966 44.33870
37 1969 1967 49.46282
49 1969 1968 51.14654
61 1969 1969 54.62024

In [20]:
df$id <- df$stfips
df$t  <- df$year
df$g  <- df$X_nfd

In [21]:
head(df)
summary(df$g)
summary(df$t)

  stfips year X_nfd post asmrs    pcinc    asmrh    cases       weight  copop
1 1      1964 1971  0    35.63988 12406.18 5.007341 0.012312243 1715156 1715156
2 1      1965 1971  0    41.54375 13070.21 4.425367 0.010419407 1715156 1725186
3 1      1966 1971  0    34.25233 13526.66 4.874819 0.009900097 1715156 1735219
4 1      1967 1971  0    34.46502 13918.19 5.362014 0.009974692 1715156 1745250
5 1      1968 1971  0    40.44011 14684.81 4.643759 0.012400659 1715156 1755283
6 1      1969 1971  0    42.49012 15638.88 5.296976 0.015006756 1715156 1765316
  id t    g
1 1  1964 1971
2 1  1965 1971
3 1  1966 1971
4 1  1967 1971
5 1  1968 1971
6 1  1969 1971

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1969    1971    1973    1974    1974    1985     429

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1964    1972    1980    1980    1988    1996

In [22]:
model_att <- lm(
  asmrs ~ post + pcinc + asmrh + cases + factor(id) + factor(t),
  data = df
)

summary(model_att)

Call:
lm(formula = asmrs ~ post + pcinc + asmrh + cases + factor(id) +
    factor(t), data = df)

Residuals:
    Min      1Q  Median      3Q     Max
-41.500  -6.101   0.016   5.436  62.289

Coefficients:
                Estimate Std. Error t value Pr(>|t|)
(Intercept)    5.188e+01  3.678e+00  14.107  < 2e-16 ***
post          -2.516e+00  1.100e+00  -2.288 0.022287 *
pcinc         -1.118e-03  2.064e-04  -5.417 7.05e-08 ***
asmrh          1.185e+00  3.153e-01   3.757 0.000178 ***
cases         -1.785e+02  5.394e+01  -3.310 0.000956 ***
factor(id)4    3.736e+01  2.791e+00  13.387  < 2e-16 ***
factor(id)5   -8.005e-01  2.830e+00  -0.283 0.777311
factor(id)6    6.005e+01  3.565e+00  16.843  < 2e-16 ***
factor(id)8    5.041e+01  3.116e+00  16.179  < 2e-16 ***
factor(id)9    1.780e+01  3.996e+00   4.456 8.97e-06 ***
factor(id)10   2.434e+01  3.420e+00   7.115 1.71e-12 ***
factor(id)11   1.261e+01  4.907e+00   2.571 0.010242 *
factor(id)12   3.582e+01  2.918e+00  12.275  < 2e-16 ***
factor(id)13   1.371e+01  2.773e+00   4.946 8.39e-07 ***
factor(id)16   1.886e+01  2.873e+00   6.565 7.09e-11 ***
factor(id)17   1.347e+01  3.362e+00   4.008 6.43e-05 ***
factor(id)18   1.101e+01  2.896e+00   3.803 0.000149 ***
factor(id)19   1.035e+01  3.058e+00   3.384 0.000732 ***
factor(id)20   1.539e+01  2.988e+00   5.151 2.92e-07 ***
factor(id)21   1.127e+01  2.770e+00   4.069 4.97e-05 ***
factor(id)22   1.207e+01  2.730e+00   4.420 1.06e-05 ***
factor(id)23   1.727e+01  2.974e+00   5.806 7.76e-09 ***
factor(id)24   1.917e+01  3.454e+00   5.550 3.36e-08 ***
factor(id)25   1.298e+01  3.561e+00   3.644 0.000277 ***
factor(id)26   2.173e+01  3.118e+00   6.969 4.72e-12 ***
factor(id)27   1.474e+01  3.181e+00   4.635 3.87e-06 ***
factor(id)28  -2.535e+00  2.965e+00  -0.855 0.392534
factor(id)29   1.615e+01  2.871e+00   5.625 2.20e-08 ***
factor(id)30   2.569e+01  2.823e+00   9.099  < 2e-16 ***
factor(id)31   8.428e+00  3.056e+00   2.757 0.005895 **
factor(id)32   7.903e+01  3.277e+00  24.116  < 2e-16 ***
factor(id)33   2.100e+01  3.256e+00   6.450 1.49e-10 ***
factor(id)34   6.880e+00  3.729e+00   1.845 0.065224 .
factor(id)35   3.036e+01  2.712e+00  11.194  < 2e-16 ***
factor(id)36   8.597e+00  3.739e+00   2.299 0.021612 *
factor(id)37   9.434e+00  2.714e+00   3.476 0.000524 ***
factor(id)38  -3.739e-02  3.023e+00  -0.012 0.990132
factor(id)39   2.116e+01  3.036e+00   6.971 4.65e-12 ***
factor(id)40   1.802e+01  2.754e+00   6.542 8.26e-11 ***
factor(id)41   3.153e+01  2.962e+00  10.644  < 2e-16 ***
factor(id)42   1.383e+01  3.099e+00   4.462 8.71e-06 ***
factor(id)44   1.676e+01  3.204e+00   5.232 1.91e-07 ***
factor(id)45   4.318e+00  2.675e+00   1.614 0.106626
factor(id)46   2.030e+00  2.929e+00   0.693 0.488377
factor(id)47   9.351e+00  2.867e+00   3.262 0.001131 **
factor(id)48   1.715e+01  2.797e+00   6.133 1.09e-09 ***
factor(id)49   1.838e+01  2.850e+00   6.447 1.52e-10 ***
factor(id)50   2.047e+01  2.998e+00   6.828 1.23e-11 ***
factor(id)51   1.597e+01  3.089e+00   5.169 2.66e-07 ***
factor(id)53   3.621e+01  3.219e+00  11.246  < 2e-16 ***
factor(id)54   6.515e+00  2.806e+00   2.322 0.020356 *
factor(id)55   2.037e+01  3.072e+00   6.631 4.61e-11 ***
factor(id)56   3.246e+01  3.002e+00  10.815  < 2e-16 ***
factor(t)1965  6.582e+00  2.203e+00   2.989 0.002848 **
factor(t)1966  4.074e+00  2.222e+00   1.834 0.066896 .
factor(t)1967  6.467e+00  2.244e+00   2.881 0.004014 **
factor(t)1968  6.868e+00  2.288e+00   3.002 0.002728 **
factor(t)1969  1.067e+01  2.356e+00   4.529 6.38e-06 ***
factor(t)1970  1.286e+01  2.440e+00   5.269 1.57e-07 ***
factor(t)1971  2.029e+01  2.556e+00   7.937 3.98e-15 ***
factor(t)1972  1.669e+01  2.719e+00   6.140 1.05e-09 ***
factor(t)1973  1.924e+01  2.895e+00   6.645 4.21e-11 ***
factor(t)1974  1.982e+01  2.880e+00   6.883 8.50e-12 ***
factor(t)1975  2.315e+01  2.931e+00   7.898 5.38e-15 ***
factor(t)1976  1.955e+01  2.989e+00   6.541 8.32e-11 ***
factor(t)1977  2.111e+01  3.069e+00   6.880 8.72e-12 ***
factor(t)1978  1.753e+01  3.203e+00   5.475 5.10e-08 ***
factor(t)1979  1.525e+01  3.223e+00   4.732 2.43e-06 ***
factor(t)1980  1.220e+01  3.210e+00   3.801 0.000150 ***
factor(t)1981  1.390e+01  3.265e+00   4.257 2.20e-05 ***
factor(t)1982  1.113e+01  3.201e+00   3.476 0.000524 ***
factor(t)1983  1.004e+01  3.250e+00   3.089 0.002043 **
factor(t)1984  1.273e+01  3.438e+00   3.703 0.000221 ***
factor(t)1985  9.059e+00  3.536e+00   2.562 0.010503 *
factor(t)1986  1.379e+01  3.673e+00   3.755 0.000180 ***
factor(t)1987  1.496e+01  3.748e+00   3.992 6.87e-05 ***
factor(t)1988  1.231e+01  3.881e+00   3.172 0.001543 **
factor(t)1989  1.157e+01  4.031e+00   2.870 0.004161 **
factor(t)1990  1.208e+01  4.059e+00   2.976 0.002963 **
factor(t)1991  1.104e+01  4.061e+00   2.718 0.006641 **
factor(t)1992  9.994e+00  4.247e+00   2.353 0.018757 *
factor(t)1993  1.265e+01  4.307e+00   2.938 0.003356 **
factor(t)1994  1.203e+01  4.409e+00   2.728 0.006446 **
factor(t)1995  1.042e+01  4.473e+00   2.330 0.019937 *
factor(t)1996  1.088e+01  4.568e+00   2.381 0.017375 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 10.86 on 1532 degrees of freedom
Multiple R-squared:  0.7096,	Adjusted R-squared:  0.6937
F-statistic: 44.57 on 84 and 1532 DF,  p-value: < 2.2e-16

In [23]:
ATT_gt <- aggregate(asmrs ~ g + t, data = df, FUN = mean)

# Ordenar por cohorte y año
ATT_gt <- ATT_gt[order(ATT_gt$g, ATT_gt$t), ]

head(ATT_gt)

   g    t    asmrs
1  1969 1964 41.05070
13 1969 1965 41.97805
25 1969 1966 44.33870
37 1969 1967 49.46282
49 1969 1968 51.14654
61 1969 1969 54.62024

In [24]:
#Agregacion por grupo
agg_group <- aggregate(asmrs ~ g, data = df, FUN = mean)
agg_group

   g    asmrs
1  1969 46.55870
2  1970 63.93027
3  1971 52.45449
4  1972 47.32807
5  1973 62.33899
6  1974 50.73578
7  1975 50.51297
8  1976 46.14146
9  1977 51.83741
10 1980 45.14328
11 1984 42.49530
12 1985 39.05023

In [25]:
#Agregacion por periodo
agg_period <- aggregate(asmrs ~ t, data = df, FUN = mean)
agg_period

   t    asmrs
1  1964 53.02794
2  1965 58.48951
3  1966 55.65239
4  1967 57.38262
5  1968 56.64940
6  1969 58.94261
7  1970 60.14826
8  1971 66.13286
9  1972 60.37235
10 1973 61.51323
11 1974 62.11324
12 1975 65.04099
13 1976 60.06414
14 1977 60.98101
15 1978 56.24617
16 1979 54.06746
17 1980 51.12481
18 1981 52.30211
19 1982 49.88743
20 1983 47.82085
21 1984 49.17763
22 1985 44.66922
23 1986 48.67505
24 1987 49.29612
25 1988 45.78548
26 1989 44.10162
27 1990 44.18537
28 1991 43.36154
29 1992 40.68538
30 1993 43.26203
31 1994 41.44098
32 1995 39.50777
33 1996 39.38409

In [26]:
#Agregación event-time
df$event_time <- df$t - df$g

agg_event <- aggregate(asmrs ~ event_time, data = df, FUN = mean)
agg_event

   event_time asmrs
1  -21        18.18951
2  -20        32.44055
3  -19        54.65285
4  -18        44.82206
5  -17        41.66049
6  -16        46.28241
7  -15        51.04945
8  -14        55.27142
9  -13        53.72790
10 -12        54.48784
11 -11        45.58002
12 -10        54.80955
13  -9        56.52261
14  -8        59.55571
15  -7        59.77901
16  -6        62.14387
17  -5        59.15229
18  -4        62.91013
19  -3        61.08316
20  -2        64.50989
21  -1        63.84416
22   0        64.98177
23   1        62.83416
24   2        63.48862
25   3        62.68930
26   4        60.99216
27   5        59.35864
28   6        57.57310
29   7        54.02643
30   8        51.35952
31   9        52.41817
32  10        47.81150
33  11        48.66047
34  12        48.87730
35  13        48.42704
36  14        49.23424
37  15        47.27682
38  16        47.56000
39  17        46.30745
40  18        43.66007
41  19        41.55052
42  20        44.77685
43  21        42.89765
44  22        43.00039
45  23        42.11105
46  24        39.36175
47  25        40.84688
48  26        36.29231
49  27        44.13293

**Agregación por grupo (cohort):**  
Agrupa las observaciones por año de tratamiento \(g\) y calcula el promedio del resultado dentro de cada cohorte. Esto permite comparar si los estados que se tratan más temprano muestran niveles de asmrs distintos de los que se tratan más tarde.

**Agregación por período:**  
Agrupa las observaciones por año calendario \(t\), promediando asmrs en cada período. De esta forma se observa la evolución temporal del resultado en el tiempo, sin distinguir aún por cohorte.

**Agregación por event-time:**  
Utiliza la variable \(event\_time = t - g\), donde los valores negativos representan años previos al tratamiento, el valor 0 es el año en que empieza el tratamiento y los valores positivos son años posteriores. Al promediar asmrs por event-time, se alinean todas las unidades en torno al momento del tratamiento, lo que permite estudiar la dinámica antes y después del mismo.

**¿Qué agregación es más comparable al Event-Study del modelo TWFE?**  
La agregación por event-time es la más comparable al Event-Study TWFE, porque en ambos casos los efectos se organizan en función de los períodos relativos al inicio del tratamiento (leads y lags), en lugar de hacerlo por año calendario o por cohorte directamente.

In [27]:
df2 <- df   # versión simple sin recorte

twfe_model <- lm(
  asmrs ~ factor(event_time) + factor(id) + factor(t) +
    pcinc + asmrh + cases,
  data = df2
)

summary(twfe_model)

Call:
lm(formula = asmrs ~ factor(event_time) + factor(id) + factor(t) +
    pcinc + asmrh + cases, data = df2)

Residuals:
    Min      1Q  Median      3Q     Max
-39.982  -5.796   0.031   5.296  60.464

Coefficients: (1 not defined because of singularities)
                        Estimate Std. Error t value Pr(>|t|)
(Intercept)            2.808e+01  1.141e+01   2.461 0.014013 *
factor(event_time)-20  1.167e+01  1.350e+01   0.864 0.387656
factor(event_time)-19  3.403e+01  1.363e+01   2.496 0.012706 *
factor(event_time)-18  2.436e+01  1.363e+01   1.787 0.074232 .
factor(event_time)-17  2.022e+01  1.364e+01   1.482 0.138544
factor(event_time)-16  2.368e+01  1.280e+01   1.850 0.064626 .
factor(event_time)-15  2.642e+01  1.290e+01   2.048 0.040826 *
factor(event_time)-14  2.991e+01  1.291e+01   2.317 0.020678 *
factor(event_time)-13  2.443e+01  1.202e+01   2.033 0.042327 *
factor(event_time)-12  2.626e+01  1.201e+01   2.187 0.028980 *
factor(event_time)-11  1.717e+01  1.183e+01   1.451 0.147176
factor(event_time)-10  2.490e+01  1.171e+01   2.126 0.033705 *
factor(event_time)-9   2.110e+01  1.151e+01   1.832 0.067174 .
factor(event_time)-8   2.430e+01  1.158e+01   2.099 0.036020 *
factor(event_time)-7   2.573e+01  1.153e+01   2.231 0.025858 *
factor(event_time)-6   2.640e+01  1.159e+01   2.278 0.022946 *
factor(event_time)-5   2.457e+01  1.161e+01   2.116 0.034546 *
factor(event_time)-4   2.769e+01  1.166e+01   2.374 0.017778 *
factor(event_time)-3   2.511e+01  1.171e+01   2.144 0.032218 *
factor(event_time)-2   2.746e+01  1.175e+01   2.337 0.019638 *
factor(event_time)-1   2.799e+01  1.180e+01   2.373 0.017841 *
factor(event_time)0    2.901e+01  1.185e+01   2.449 0.014491 *
factor(event_time)1    2.736e+01  1.189e+01   2.300 0.021643 *
factor(event_time)2    2.828e+01  1.195e+01   2.367 0.018105 *
factor(event_time)3    2.925e+01  1.201e+01   2.436 0.015008 *
factor(event_time)4    2.771e+01  1.205e+01   2.300 0.021640 *
factor(event_time)5    2.864e+01  1.210e+01   2.366 0.018139 *
factor(event_time)6    2.792e+01  1.215e+01   2.297 0.021801 *
factor(event_time)7    2.662e+01  1.222e+01   2.179 0.029566 *
factor(event_time)8    2.450e+01  1.227e+01   1.996 0.046136 *
factor(event_time)9    2.620e+01  1.233e+01   2.125 0.033807 *
factor(event_time)10   2.187e+01  1.240e+01   1.763 0.078236 .
factor(event_time)11   2.323e+01  1.248e+01   1.862 0.062892 .
factor(event_time)12   2.417e+01  1.259e+01   1.920 0.055151 .
factor(event_time)13   2.212e+01  1.269e+01   1.743 0.081663 .
factor(event_time)14   2.407e+01  1.276e+01   1.886 0.059565 .
factor(event_time)15   2.277e+01  1.283e+01   1.774 0.076283 .
factor(event_time)16   2.341e+01  1.289e+01   1.815 0.069759 .
factor(event_time)17   2.211e+01  1.297e+01   1.706 0.088385 .
factor(event_time)18   2.066e+01  1.303e+01   1.585 0.113206
factor(event_time)19   1.893e+01  1.304e+01   1.452 0.146789
factor(event_time)20   2.144e+01  1.314e+01   1.632 0.103059
factor(event_time)21   2.004e+01  1.318e+01   1.521 0.128585
factor(event_time)22   2.037e+01  1.325e+01   1.538 0.124422
factor(event_time)23   1.914e+01  1.319e+01   1.451 0.147053
factor(event_time)24   2.085e+01  1.350e+01   1.545 0.122675
factor(event_time)25   2.141e+01  1.349e+01   1.587 0.112756
factor(event_time)26   1.524e+01  1.426e+01   1.068 0.285678
factor(event_time)27   3.156e+01  1.524e+01   2.071 0.038582 *
factor(id)4            3.551e+01  2.943e+00  12.066  < 2e-16 ***
factor(id)6            5.419e+01  3.778e+00  14.344  < 2e-16 ***
factor(id)8            4.607e+01  3.293e+00  13.991  < 2e-16 ***
factor(id)9            9.938e+00  4.649e+00   2.138 0.032780 *
factor(id)11           8.205e+00  6.122e+00   1.340 0.180394
factor(id)12           3.391e+01  3.003e+00  11.293  < 2e-16 ***
factor(id)13           1.303e+01  2.904e+00   4.487 7.99e-06 ***
factor(id)16           1.654e+01  2.959e+00   5.589 2.89e-08 ***
factor(id)17           8.331e+00  5.180e+00   1.608 0.108055
factor(id)18           8.084e+00  3.098e+00   2.609 0.009196 **
factor(id)19           6.133e+00  3.189e+00   1.923 0.054762 .
factor(id)20           1.169e+01  3.043e+00   3.841 0.000130 ***
factor(id)21           9.255e+00  2.843e+00   3.256 0.001167 **
factor(id)23           1.330e+01  3.204e+00   4.152 3.56e-05 ***
factor(id)25           6.157e+00  4.292e+00   1.435 0.151667
factor(id)26           1.752e+01  3.368e+00   5.203 2.35e-07 ***
factor(id)27           9.584e+00  3.613e+00   2.653 0.008094 **
factor(id)29           1.317e+01  3.088e+00   4.267 2.16e-05 ***
factor(id)30           2.341e+01  3.060e+00   7.651 4.43e-14 ***
factor(id)31           4.362e+00  3.272e+00   1.333 0.182756
factor(id)32           7.652e+01  3.622e+00  21.126  < 2e-16 ***
factor(id)33           1.602e+01  3.485e+00   4.596 4.82e-06 ***
factor(id)34          -1.715e-01  4.094e+00  -0.042 0.966595
factor(id)35           2.912e+01  2.796e+00  10.415  < 2e-16 ***
factor(id)38          -3.598e+00  3.169e+00  -1.136 0.256371
factor(id)39           1.677e+01  3.420e+00   4.904 1.08e-06 ***
factor(id)41           2.782e+01  3.222e+00   8.633  < 2e-16 ***
factor(id)42           8.879e+00  4.146e+00   2.141 0.032474 *
factor(id)44           1.134e+01  3.857e+00   2.940 0.003351 **
factor(id)45           4.316e+00  2.715e+00   1.590 0.112175
factor(id)46           2.232e-02  4.124e+00   0.005 0.995683
factor(id)48           1.559e+01  3.002e+00   5.191 2.50e-07 ***
factor(id)53           3.107e+01  3.609e+00   8.609  < 2e-16 ***
factor(id)55           1.573e+01  3.719e+00   4.229 2.55e-05 ***
factor(id)56           2.910e+01  3.579e+00   8.132 1.16e-15 ***
factor(t)1965          3.047e+00  2.733e+00   1.115 0.265079
factor(t)1966          4.046e-01  2.689e+00   0.150 0.880424
factor(t)1967          3.115e+00  2.711e+00   1.149 0.250828
factor(t)1968          3.204e+00  2.685e+00   1.193 0.233021
factor(t)1969          5.472e+00  2.736e+00   2.000 0.045747 *
factor(t)1970          7.679e+00  2.746e+00   2.796 0.005266 **
factor(t)1971          1.261e+01  2.757e+00   4.573 5.36e-06 ***
factor(t)1972          8.645e+00  2.795e+00   3.094 0.002029 **
factor(t)1973          8.173e+00  2.852e+00   2.866 0.004245 **
factor(t)1974          1.068e+01  2.810e+00   3.803 0.000151 ***
factor(t)1975          1.198e+01  2.809e+00   4.264 2.19e-05 ***
factor(t)1976          8.024e+00  2.798e+00   2.868 0.004210 **
factor(t)1977          9.632e+00  2.804e+00   3.435 0.000615 ***
factor(t)1978          4.365e+00  2.814e+00   1.551 0.121114
factor(t)1979          2.590e+00  2.805e+00   0.923 0.356049
factor(t)1980         -1.037e+00  2.805e+00  -0.370 0.711628
factor(t)1981          2.416e+00  2.805e+00   0.861 0.389216
factor(t)1982          1.982e+00  2.780e+00   0.713 0.476078
factor(t)1983          1.205e+00  2.795e+00   0.431 0.666377
factor(t)1984          2.981e+00  2.795e+00   1.066 0.286487
factor(t)1985         -1.462e+00  2.809e+00  -0.521 0.602743
factor(t)1986          3.762e+00  2.831e+00   1.329 0.184149
factor(t)1987          4.248e+00  2.836e+00   1.498 0.134434
factor(t)1988          1.163e+00  2.839e+00   0.410 0.682121
factor(t)1989          8.300e-01  2.839e+00   0.292 0.770092
factor(t)1990          2.505e+00  2.831e+00   0.885 0.376488
factor(t)1991          7.508e-01  2.859e+00   0.263 0.792899
factor(t)1992          4.099e-01  2.791e+00   0.147 0.883246
factor(t)1993          3.118e+00  2.814e+00   1.108 0.268176
factor(t)1994          1.845e+00  2.702e+00   0.683 0.494988
factor(t)1995         -4.309e-01  2.742e+00  -0.157 0.875139
factor(t)1996                 NA         NA      NA       NA
pcinc                 -7.022e-04  2.397e-04  -2.930 0.003466 **
asmrh                  4.053e-01  3.752e-01   1.080 0.280201
cases                 -1.138e+02  6.164e+01  -1.847 0.065086 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 10.9 on 1070 degrees of freedom
  (429 observations deleted due to missingness)
Multiple R-squared:  0.7618,	Adjusted R-squared:  0.7358
F-statistic: 29.26 on 117 and 1070 DF,  p-value: < 2.2e-16

In [28]:
coefs       <- coef(twfe_model)
names_coefs <- names(coefs)

In [29]:
idx_event <- grepl("^factor\\(event_time\\)", names_coefs)

twfe_event <- data.frame(
  variable = names_coefs[idx_event],
  coef     = coefs[idx_event]
)

In [30]:
twfe_event$event_time <- as.numeric(
  sub("factor\\(event_time\\)", "", twfe_event$variable)
)

In [31]:
twfe_event <- twfe_event[order(twfe_event$event_time), ]

head(twfe_event)

                      variable              coef     event_time
factor(event_time)-20 factor(event_time)-20 11.66553 -20
factor(event_time)-19 factor(event_time)-19 34.02843 -19
factor(event_time)-18 factor(event_time)-18 24.36407 -18
factor(event_time)-17 factor(event_time)-17 20.21788 -17
factor(event_time)-16 factor(event_time)-16 23.68119 -16
factor(event_time)-15 factor(event_time)-15 26.41988 -15